.calculator-container {
    display: flex;
    justify-content: center;
    margin-top: 18rem;
}
.calculator {
    transform: scale(2.1);
}
input {
    width: 17rem;
    display: block;
    margin: 0.3rem;
    border: 1px solid silver;
    font-size: 2rem;
    text-align: right;
}

.numbers button, .operators button { 
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0.1rem;
    border: 2px solid silver;
    outline-width: 0;
}

button:hover {
    border-color: grey;
}

button:active {
    font-weight: bold;
    background-color: silver;
}
.left-panel, .right-panel {
    margin: 0.3rem;
    display: inline-block;
    vertical-align: top;
}

button.big-button {
    height: 6.16rem;
}

button.result {
    background-color: lightsalmon;
}

button.clear {
    background-color: lightskyblue;
}